/* Start Variales */
:root {
    --border-radius: 20px;
}
/* End Variales */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/icon1.jpg);
    background-size: cover;
    position: relative;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 992px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Main Page-------------------------------------------------- */
.container .head {
    text-align: center;
    background-color: #969eeac1;
    width: fit-content;
    padding: 15px 25px 30px;
    margin: 20px auto;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    color: white;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 70%), inset 0px -8px 16px 5px rgb(0 0 0 / 56%);
    font-family: cursive;
    cursor: default;
}
.container .contain {
    text-align: center;
    background-color: #fafafb99;
    width: fit-content;
    margin: 120px auto 0;
    padding: 50px;
    border-radius: var(--border-radius);
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 70%), inset 0px -8px 16px 5px rgb(0 0 0 / 56%);
}
.container .contain .log {
    display: block;
    text-decoration: none;
    color: #ddd;
    font-size: 30px;
    padding: 15px 50px;
    margin: 0 20px;
    background-color: #5360ebcf;
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid black;
    cursor: pointer;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.container .contain .log:not(:first-child) {
    margin-bottom: 20px;
}
.container .contain .log:hover {
    background-color: #6772e5;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 70%), inset 0px -8px 16px 5px rgb(0 0 0 / 56%);
}
.container .contain hr {
    margin: 20px 0;
}
.container .contain .icons {
    font-size: 30px;
    margin: 10px 15px;
    display: flex;
    justify-content: space-evenly;
}
.container .contain .icons a {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.container .contain .icons a:hover {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 70%), inset 0px -8px 16px 5px rgb(0 0 0 / 56%);
    border-radius: 10px;
}
.container .contain .icons .facebook {
    color: #065ac8;
}
.container .contain .icons .github {
    color: #000;
}
.container .contain .icons .twitter {
    color: rgb(49, 101, 197);;
}
.container .contain .icons .gmail {
    color: darkred;
}
/* End Main Page-------------------------------------------------- */
/* Start Login-------------------------------------------------- */
/* Start Header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(179deg,rgba(43, 0, 255, 0.522),white);
    padding: 10px 40px;
}
.header a {
    display: inline-block;
    text-decoration: none;
    color: #3a6cf4;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header a h2 {
    font-size: 40px;
    text-transform: uppercase;
}
.header nav a {
    margin-left: 40px;
}
@media (max-width: 767px) {
    .header nav a {
        margin-left: 10px;
    }
}
/* End Header */
/* Start Box */
.container .box {
    background-color: rgba(255, 255, 255, 0.835);
    text-align: center;
    width: fit-content;
    margin: 35px auto 0;
    padding: 70px 30px;
    border-radius: var(--border-radius);
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 70%), inset 0px -8px 16px 5px rgb(0 0 0 / 56%);
}
.container .box form input {
    display: block;
}
.container .box form input:not(:last-child) {
    padding: 15px 50px;
    font-size: 25px;
    margin: 0 40px 20px;
    border-radius: var(--border-radius);
}
@media (max-width: 767px) {
    .container .box form input:not(:last-child) {
        padding: 15px 25px;
        font-size: 16px;
    }
}
.container .box form input:not(:last-child):hover {
    border: 2px solid blue;
}
.container .box form a {
    display: block;
    text-decoration: none;
    color: #1877f2;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.container .box form input[type="submit"] {
    margin: 10px auto 30px;
    padding: 10px 40px;
    border-radius: calc(var(--border-radius) / 2);
    background-color: #0564e0;
    font-size: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.container .box form input[type="submit"]:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.473),0 17px 50px 0 rgba(0, 0, 0, 0.473);
}
.container .box hr {
    margin: 10px auto;
    max-width: 80%;
}
.container .box .new-account {
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #4CAF50;
    width: fit-content;
    margin: 20px auto;
    border-radius: var(--border-radius);
    color: white;
    font-size: 20px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.container .box .new-account:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.473),0 17px 50px 0 rgba(0, 0, 0, 0.473);
}
.container .box .icons {
    font-size: 30px;
    margin: 10px 15px;
    display: flex;
    justify-content: space-evenly;
}
.container .box .icons a {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.container .box .icons a:hover {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 70%), inset 0px -8px 16px 5px rgb(0 0 0 / 56%);
    border-radius: 10px;
}
.container .box .icons .facebook {
    color: #065ac8;
}
.container .box .icons .github {
    color: #000;
}
.container .box .icons .twitter {
    color: rgb(49, 101, 197);;
}
.container .box .icons .gmail {
    color: darkred;
}
/* End Box */
/* Start Footer */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000016;
}
.footer .container .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    color: white;
}
@media (max-width:767px) {
    .footer .container .foot {
        display: block;
    }
}
.footer .container .foot h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    cursor: default;
}
.footer .container .foot .camp .icons {
    font-size: 30px;
    margin: 10px 15px;
    display: flex;
    justify-content: space-evenly;
}
.footer .container .foot .camp .icons .facebook,
.footer .container .foot .camp .icons .github,
.footer .container .foot .camp .icons .twitter,
.footer .container .foot .camp .icons .gmail {
    color: white;
}
.footer .container .foot .camp hr {
    margin: 10px auto;
    max-width: 80%;
}
/* End Footer */
/* End Login-------------------------------------------------- */
/* Start Forgot Your Password-------------------------------------------------- */
/* Start Submit Button */
.forot-your-password .container .box form input[type="submit"] {
    margin: 10px auto 30px;
    padding: 10px 30px;
    border-radius: var(--border-radius);
    background-color: #4CAF50;
    font-size: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.forot-your-password .container .box form input[type="submit"]:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.473),0 17px 50px 0 rgba(0, 0, 0, 0.473);
}
/* Start Submit Button */
/* End Forgot Your Password-------------------------------------------------- */